extends layout 
 
block content 
  h1= title 
  if (toShow == null) 
    h2 No instance to display 
  else 
    - let animalid = toShow._id 
    - let name = toShow.name 
    - let genus = toShow.genus 
    - let species = toShow.species 
    - let legs = toShow.legs
    div 
      div.row 
        div(class='animalAttr mr-3') Animal ID is: 
        div #{animalid} 
      div.row 
        div(class='animalAttr mr-3') Animal Name is: 
        div #{name} 
      div.row 
        div(class='animalAttr mr-3') Animal Genus is: 
        div #{genus} 
      div.row 
        div(class='animalAttr mr-3') Animal Species is: 
        div #{species} 
      div.row 
        div(class='animalAttr mr-3') Animal Legs is: 
        div #{legs} 