extends layout 
 
block content 
  h1(class="hcenter")= title 
  if (toShow == null) 
    h2 No instance to display 
  else 
    - let animalid = toShow._id 
    - let name = toShow.name 
    - let genus = toShow.genus 
    - let species = toShow.species 
    - let legs = toShow.legs

      div(class="row hcenter")
        div(class='animalAttr') Animal ID is: 
        div #{animalid} 
      div(class="row hcenter")
        div(class='animalAttr') Animal Name is: 
        div #{name} 
      div(class="row hcenter")
        div(class='animalAttr') Animal Genus is: 
        div #{genus} 
      div(class="row hcenter")
        div(class='animalAttr') Animal Species is: 
        div #{species} 
      div(class="row hcenter")
        div(class='animalAttr') Animal Legs is: 
        div #{legs} 